body {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#333;
	margin:0;
	padding:0;
}
h1 {
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size:16px;
	color:#083772;
	letter-spacing:-1px;
	font-weight:normal;
	background:#eee;
	padding:0px 20px;
	border-bottom:1px solid #ccc;
}
h2 {
	font-size: 18px;
	line-height:18px;
	color:#083772;
	margin-bottom:15px;
	font-weight:normal;
}
p {
	margin:10px 20px;
	line-height:18px;
}
input {
	margin: 8px 20px;
}
#content {
	margin-left:15px;
}
#myDiv {
	border:2px solid #1F3E75;
	background:#DFECFB;
	margin:20px 50px;
	padding:10px 20px;
	width:200px;
	text-align:center;
}
.red {
	color: red;
}
