<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=1;" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!--meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /-->
        
        <title>iAnki (%(version)s) - loading...</title>        
        %(touchicon)s
        <STYLE>
        %(css)s
        </STYLE>
    </head>
    <body>
    
    <div id='infoMode' style='display:none'>
        <div style="margin: 16px">
            <div id="info" style="font-size: 32px; ">Welcome!</div>
        </div>
    </div>
    
    <div id='reviewMode' style='display:none'>
        <div id="reviewContent" style="margin: 16px 0px 16px 16px">
            <div id="question" style="font-size: 20px; ">Sample question</div>
            <div id="padding" style="font-size: 4px; ">&nbsp</div>
            
            <div id="showAnswerDiv" align='center'>
                <button id="showAnswer" title="Show the answer" style="font-size: 28px; " onclick="iAnki.deck.showAnswer()">Show answer</button>
                <div id="lastCardInfo" align='center' style="font-size: 10px; margin-top=30px; "></div>
            </div>
            
            <div id="answerSide" style='display:none'>
                <div id="answer" style="font-size: 20px; ">Sample answer</div>
                <div id="padding" style="font-size: 4px; ">&nbsp</div>
                <div align='center'>
                    <button id='answer0' title='First time' style='font-size: 28px; ' onclick='iAnki.deck.answerCard(0)'>0</button>
                    <button id='answer1' title='Made a mistake' style='font-size: 28px; ' onclick='iAnki.deck.answerCard(1)'>1</button>
                    <button id='answer2' title='Difficult' style='font-size: 28px; ' onclick='iAnki.deck.answerCard(2)'>2</button>
                    <button id='answer3' title='About right' style='font-size: 28px; ' onclick='iAnki.deck.answerCard(3)'>3</button>                    
                    <button id='answer4' title='Easy' style='font-size: 28px; ' onclick='iAnki.deck.answerCard(4)'>4</button>
                </div>
            </div>
        </div>
    </div>
    
    <div id='changeDeckMode' style='display:none' style="margin: 16px">
        <div id="info" style="font-size: 32px; margin: 16px">Change deck</div>
        <div id="deckTable"></div>
    </div>
    
    <div id="padding" style="font-size: 40x; ">&nbsp</div>
    <h1>
        <table width=100%%><TR>
            <td width=70%%>
                <span id='title'>iAnki - Welcome</span>
            </td>
            <td align="right">
                <button title="Choose deck" id="chooseDeck" onclick="iAnki.chooseDeck()">Deck</button>                
                <button title="Sync deck" id="syncDeck" onclick="iAnki.syncDeck(1)">Sync</button>
                <!--<button title="More" id="more">More</button>-->
            </td>
        </tr></table>
    </h1>
    
    <div id='debugLog'>
        <span id="ankilog"></span>
    </div>

	</body>

    <script type="text/javascript">
        var iankiVersion = 'iAnki (%(version)s)';
        var iankiServer = '%(location)s';
        /**
        * Tests if an element is defined.
        * @param type - The type of the element to be tested.
        */
        function isDefined(type) {
         return type != 'undefined' && type != 'unknown';
        }
        
        /**
        * Retrieve a DOM element by its ID.
        * @param id - The ID of the element to locate.
        */
        function getDOMElementById(id) {
         if (isDefined(typeof document.getElementById)) {
            return document.getElementById(id);
         } else if (isDefined(typeof document.all)) {
            return document.all[id];
         } else {
           throw new Error("Can not find a method to locate DOM element.");
           return null;
         }
        }
        
        %(joose)s
        %(orm)s
        %(mootools)s
        %(ianki)s
    </script>
</html>